<div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-9 page-content">
                    <div class="inner-box category-content">
                        <h2 class="title-2 uppercase"><strong> <i class="icon-briefcase"></i> Post a Job </strong></h2>

                        <div class="row">
                         <%= form_tag "/jobs/#{@job.id}", method: :post do %>
                            <div class="col-sm-12">
                                <form class="form-horizontal">
                                    <fieldset>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Job Name</label>

                                            <div class="col-md-8">
                                                <input name="name" placeholder="Job Name"
                                                       class="form-control input-md" required="" type="string">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Call Time</label>

                                            <div class="col-md-8">
                                                <input name="call_time" placeholder="Call Time"
                                                       class="form-control input-md" required="" type="time">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Date</label>

                                            <div class="col-md-8">
                                                <input name="date" placeholder="Date"
                                                       class="form-control input-md" required="" type="date">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="textarea">Job Description

                                            </label>

                                            <div class="col-md-8">

                                                <textarea style="height: 250px" class="form-control" id="textarea"
                                                          name="textarea" placeholder="Job Description"></textarea>

                                                <span class="help-block">Describe the job and what help you need. </span>

                                            </div>
                                        </div>

                                           

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">City</label>

                                            <div class="col-md-8">
                                                <select name="occupation" type="integer" class="form-control">
                                                    <option value="0" selected="selected"> Select a city...</option>
                                                    <option value="1">New York City</option>
                                                    <option value="2">Los Angeles</option>
                                                    <option value="3">Chicago</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Location</label>

                                            <div class="col-md-8">
                                                <input name="location" placeholder="Location"
                                                       class="form-control input-md" required="" type="string">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Genre</label>

                                            <div class="col-md-8">
                                                <select name="category_id" type="integer" class="form-control">
                                                    <option value="0" selected="selected"> Select a genre...</option>
                                                    <option value="1">Food</option>
                                                    <option value="2">Fashion</option>
                                                    <option value="3">Editorial</option>
                                                    <option value="4">Product</option>
                                                    <option value="6">Portrait</option>
                                                    <option value="7">Architecture</option>
                                                    <option value="8">Event</option>
                                                    <option value="9">Animals</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Occupation</label>

                                            <div class="col-md-8">
                                                <select name="occupation" type="integer" class="form-control">
                                                    <option value="0" selected="selected"> Select a occupation...</option>
                                                    <option value="1">Photo Assistant</option>
                                                    <option value="2">Photographer</option>
                                                    <option value="3">Digital Tech</option>
                                                    <option value="4">Producer</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Call Sheet</label>

                                            <div class="col-md-8">
                                                <input name="call_sheet" placeholder="Call Sheet"
                                                       class="form-control input-md" required="" type="string">
                                            </div>
                                        </div>


                                    


                                        <!-- Prepended text-->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="day_rate">Day Rate</label>

                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input id="day_rate" name="day_rate" class="form-control"
                                                           placeholder="Day Rate" required="" type="integer">

                                                    <div class="input-group-btn">
                                                    </div>
                                                </div>


                                            </div>
                                            <!-- <div class="col-md-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">
                                                        Negotiable </label>
                                                </div>
                                            </div>
                                        </div>


                                        

                                        <div class="well">
                                            <h3><i class=" icon-certificate icon-color-1"></i> Make your Ad Premium
                                            </h3>

                                            <p>Premium jobs help promote their service by getting their ads more
                                                visibility with more
                                                job candidate what they want faster. <a href="help.html">Learn more</a>
                                            </p>

                                            <div class="form-group">
                                                <table class="table table-hover checkboxtable">
                                                    <tr>
                                                        <td>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios"
                                                                           id="optionsRadios0" value="option0" checked>
                                                                    <strong>Regular List </strong> </label>
                                                            </div>
                                                        </td>
                                                        <td><p>$00.00</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios"
                                                                           id="optionsRadios1" value="option1">
                                                                    <strong>Urgent Jobs </strong> </label>
                                                            </div>
                                                        </td>
                                                        <td><p>$10.00</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios"
                                                                           id="optionsRadios2" value="option2">
                                                                    <strong>Top of the Page Ad </strong> </label>
                                                            </div>
                                                        </td>
                                                        <td><p>$20.00</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios"
                                                                           id="optionsRadios3" value="option3">
                                                                    <strong>Top of the Page Ad + Urgent Ad </strong>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td><p>$40.00</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <div class="col-md-8">
                                                                    <select class="form-control" name="Method"
                                                                            id="PaymentMethod">
                                                                        <option value="2">Select Payment Method</option>
                                                                        <option value="3">Credit / Debit Card</option>
                                                                        <option value="5">Paypal</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><p><strong>Payable Amount : $40.00</strong></p></td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>

                                        <!-- terms -->
                                        <!-- <div class="form-group">
                                            <label class="col-md-3 control-label">Terms</label>

                                            <div class="col-md-8">
                                                <label class="checkbox-inline" for="checkboxes-0">
                                                    <input name="checkboxes" id="checkboxes-0"
                                                           value="Remember above contact information." type="checkbox">
                                                    I agree to the Terms &amp; Conditions. </label>
                                            </div>
                                        </div> -->

                                        <!-- Button  -->
                                        



                                        <div class="form-group">
                                  <div class="col-md-8">
                                      <button type="submit" class="btn btn-success btn-lg">Submit</button>
                                  </div>
                              </div>
                              <% end %>

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              