<div class="intro-inner">
        <div class="about-intro" style="
    background:url(images/bg2.jpg) no-repeat center;
  background-size:cover;">
            <div class="dtable hw100">
                <div class="dtable-cell hw100">
                    <div class="container text-center">
                        <h1 class="intro-title animated fadeInDown"> Building a community </h1>
                    </div>
                </div>
            </div>
        </div>
        <!--/.about-intro -->

    </div>
    <!-- /.intro-inner -->

    <div class="main-container inner-page">
        <div class="container">
            <div class="section-content">
                <div class="row ">
                    <h1 class="text-center title-1"> Why use strobe? </h1>
                    <hr class="center-block small text-hr">
                    <div class="col-sm-6">
                        <div class="text-content has-lead-para text-left">
                            <p class="lead">Strobe was developed to strengthen the photography industry by connecting photographers and producers with photo assistants and digital techs.  Strobe is built so photographers and producers can search, hire and schedule photo assistants and digital techs.  Photographers and producers can also post jobs so other assistants and digital techs can apply to the job instead of searching through a list of assistants/techs.  Strobe is built to search based on several parameters such as gear, vehicle, day rate, years of experience etc.</p>

                            <p class="lead">Another important feature of Strobe is that assistants have access to an extensive list of tech support options including a glossary of terms commonly used on set.  Many times things go wrong on set and time is of the essence.  Strobe comes in handy with a quick search feature to locate your issue and resolve the problem quickly.  It also offers resourceful names to call when help is needed.  Bridging the community helps fill the gaps while on set making a seamless environment for you and your clients.</p>

                            <p class="lead">Help Strobe grow by creating an account and becoming a resourceful member of the photo community today!</p>

                        </div>
                    </div>
                    <div class="col-sm-6"><img src="images/info.png" alt="imfo" class="img-responsive"></div>
                </div>
            </div>
        </div>
    </div>