<div class="intro-inner">
        <div class="about-intro" style="
    background:url('/assets/camera4.jpg') no-repeat center;
  background-size:cover;">

            <div class="dtable hw100">
                <div class="dtable-cell hw100">
                    <div class="container text-center">

                        <h1 class="intro-title animated fadeInDown"> Frequently Asked Questions </h1>


                    </div>
                </div>
            </div>


        </div>
        <!--/.about-intro -->

    </div>
    <!-- /.intro-inner -->

    <div class="main-container inner-page">
        <div class="container">
            <div class="section-content">
                <div class="row ">
                    <h1 class="text-center title-1"><strong>FAQ</strong></h1>
                    <hr class="center-block small text-hr">
                </div>
                <div class="faq-content">

                    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group faq-panel">
                        <div class="panel">
                            <div id="headingOne" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne"
                                       data-parent="#accordion" data-toggle="collapse">
                                        How do I setup an account?
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in"
                                 id="collapseOne">
                                <div class="panel-body">
                                    Getting an account is free and easy.  All you have to do is sign up and fill in your info!
                                    
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div id="headingTwo" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo"
                                       data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                        WHat is the cost for placing an ad for a job?
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse"
                                 id="collapseTwo">
                                <div class="panel-body">
                                    There is no cost to place an ad.  However to have it featured to drive traffic there are plans available for pricing.
                                    
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div id="headingThree" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree"
                                       data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                        If I post an ad, will I also get more spam e-mails?
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse"
                                 id="collapseThree">
                                <div class="panel-body">
                                    Strobe protects all of our user's personal information.  We never sell or distribute user's information.
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div id="heading_04" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapse_04" aria-expanded="false" href="#collapse_04"
                                       data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                        How long will my ad remain on the website?
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading_04" role="tabpanel" class="panel-collapse collapse"
                                 id="collapse_04">
                                <div class="panel-body">
                                    The ad will remain on our site till you remove it.  If it passes the date of the job it will show up as unavailable.
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div id="heading_05" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapse_05" aria-expanded="false" href="#collapse_05"
                                       data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                        How do I delete my ad?
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading_05" role="tabpanel" class="panel-collapse collapse"
                                 id="collapse_05">
                                <div class="panel-body">
                                    Under "view your jobs" there is a button to delete the job.
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div id="heading_06" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapse_06" aria-expanded="false" href="#collapse_06"
                                       data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                        Does Strobe allow users to add to tech support data base?
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading_06" role="tabpanel" class="panel-collapse collapse"
                                 id="collapse_06">
                                <div class="panel-body">


                                    Yes we encourage all additions to our tech support.  We send requests to info@strobe.com
                                </div>
                            </div>
                        </div>


                    </div>


                </div>


            </div>
        </div>
    </div>