<h1>Strobe</h1>
<br>
  <h2>What are you looking for?</h2>
    <h3><%= link_to "Photo Assistants", "/photo_assistants" %></h3>
    <h3>Production Assistant</h3>
    <h3>Digital Tech</h3>
    <h3>Photographer</h3>
    <h3>Producer</h3>
<br>
  <h2>City?</h2>
    <h3>NYC</h3>
    <h3>LA</h3>
    <h3>CHI</h3>
