<div class="intro jobs-intro hasOverly"
         style="background-image: url('/assets/background.jpg'); background-position: center center;">
        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center">
                    <h1 class="intro-title animated fadeInDown"> Find the Right Assistant </h1>

                    <p class="sub animateme fittext3 animated fadeIn"> Find the best assistants available in your area. </p>
                    <form action="/assistants" method="get">
                        <div class="row search-row animated fadeInUp">
                            <div class="col-lg-4 col-sm-4 search-col relative locationicon">
                                <select name="city" type="integer" class="form-control">
                                                        <option disabled selected="selected"> Select a city...</option>
                                                        <% @cities.each do |city| %>
                                                            <option value="<%= city.name %>"><%= city.name %></option>
                                                        <% end %>
                                                    </select>
                                            </div>

                            <div class="col-lg-4 col-sm-4 search-col relative">
                                <select name="occupation" type="integer" class="form-control">
                                                        <option disabled selected="selected"> Select a type...</option>
                                                        <% @occupations.each do |occupation| %>
                                                            <option value="<%= occupation.name %>"><%= occupation.name %></option>
                                                        <% end %>
                                                    </select>
                            </div>
                            <div class="col-lg-4 col-sm-4 search-col">
                                <button type="submit" class="btn btn-primary btn-search btn-block"><i class="icon-search"></i><strong>Find
                                    Assistants</strong></button>
                            </div>
                        </div>
                    </form>
                    <% if current_photographer == nil && current_assistant == nil %>
                    <div class="resume-up">
                        <a><i class="icon-doc-4"></i></a> <a><b>Create and Account</b></a> to get on Strobe!
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>