<h1>Sign up</h1>

<h2><%= link_to "Click here if you are an assistant or digital tech", "/assistants/sign_up" %></h2>

<h2><%= link_to "Click here if you are a photographer or producer", "/photographers/sign_up" %></h2>